<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeHelp第一階段Week-4作業｜登入頁面</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main class="bg-zinc-200 w-full min-h-[100dvh] flex flex-col justify-center items-center
    border-[1px] border-zinc-400">
        <!-- 註冊介面 -->
        <div class="bg-white w-11/12 max-w-xl min-w-xs pb-4 rounded-md overflow-hidden">
            <!-- 標題 -->
            <h3 class="text-xl text-white bg-slate-800 text-center px-4 py-2">
                歡迎光臨，請註冊登入系統
            </h3>
            <!-- 註冊表單 -->
            <form action="/signup" method="post"
                class="py-4 px-8 max-w-sm flex flex-col justify-center items-center gap-4 mx-auto">
                <h1 class="text-lg font-semibold text-center">註冊帳號</h1>
                <!-- input欄位 -->
                <div class="w-full flex flex-col justify-center items-center gap-2">
                    <div class="w-full flex justify-center items-start gap-2">
                        <label class="text-nowrap h-10 flex items-center" for="email">姓名</label>
                        <div class="w-full">
                            <input class="w-full p-2 border border-gray-300 rounded-md
                            focus:outline-none focus:border-slate-500" type="text" id="signup_name" name="signup_name"
                                placeholder="請輸入姓名" required oninvalid="this.setCustomValidity('請輸入姓名')"
                                oninput="this.setCustomValidity('')">
                            <span class="hidden text-red-500 text-sm">請輸入姓名</span>
                        </div>
                    </div>
                    <div class="w-full flex justify-center items-start gap-2">
                        <label class="text-nowrap h-10 flex items-center" for="email">信箱</label>
                        <div class="w-full">
                            <input class="w-full p-2 border border-gray-300 rounded-md
                                    focus:outline-none focus:border-slate-500" type="email" id="signup_email"
                                name="signup_email" placeholder="請輸入信箱" required
                                oninvalid="this.setCustomValidity('請輸入正確的電子郵件格式')" oninput="this.setCustomValidity('')">
                            <span class="hidden text-red-500 text-sm">信箱格式不正確</span>
                        </div>
                    </div>
                    <div class="w-full flex justify-center items-center gap-2">
                        <label class="text-nowrap h-10 flex items-center" for="email">密碼</label>
                        <div class="w-full">
                            <input class="w-full p-2 border border-gray-300 rounded-md
                                    focus:outline-none focus:border-slate-500" type="password" id="signup_password"
                                name="signup_password" placeholder="請輸入密碼" required
                                oninvalid="this.setCustomValidity('請輸入密碼')" oninput="this.setCustomValidity('')">
                            <span class="hidden text-red-500 text-sm">請輸入密碼</span>
                        </div>
                    </div>
                </div>
                <button
                    class="w-auto px-6 py-2 bg-slate-400 hover:bg-slate-600 transition-colors duration-300 text-white rounded-md"
                    type="submit" id="submit">註冊</button>
            </form>
            <!-- 分隔線 -->
            <div class="w-[90%] mx-auto h-[1px] bg-slate-300 my-4"></div>
            <!-- 登入表單 -->
            <form action="/login" method="post"
                class="py-4 px-8 max-w-sm flex flex-col justify-center items-center gap-4 mx-auto">
                <h1 class="text-lg font-semibold text-center">登入系統</h1>
                <div class="w-full flex flex-col justify-center items-center gap-2">
                    <div class="w-full flex justify-center items-start gap-2">
                        <label class="text-nowrap h-10 flex items-center" for="email">信箱</label>
                        <div class="w-full">
                            <input class="w-full p-2 border border-gray-300 rounded-md
                                                focus:outline-none focus:border-slate-500" type="email" id="email"
                                name="email" placeholder="請輸入信箱" required
                                oninvalid="this.setCustomValidity('請輸入正確的電子郵件格式')" oninput="this.setCustomValidity('')">
                            <span class="hidden text-red-500 text-sm">信箱格式不正確</span>
                        </div>
                    </div>
                    <div class="w-full flex justify-center items-center gap-2">
                        <label class="text-nowrap h-10 flex items-center" for="email">密碼</label>
                        <div class="w-full">
                            <input class="w-full p-2 border border-gray-300 rounded-md
                                                focus:outline-none focus:border-slate-500" type="password"
                                id="password" name="password" placeholder="請輸入密碼" required
                                oninvalid="this.setCustomValidity('請輸入密碼')" oninput="this.setCustomValidity('')">
                            <span class="hidden text-red-500 text-sm">請輸入密碼</span>
                        </div>
                    </div>
                </div>
                <button
                    class="w-auto px-6 py-2 bg-slate-400 hover:bg-slate-600 transition-colors duration-300 text-white rounded-md"
                    type="submit" id="submit">登入</button>
            </form>
        </div>
    </main>
    <script src="../static/script.js"></script>
</body>

</html>