<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeHelp第一階段Week-4作業｜會員頁面</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main class="bg-gray-50 w-full h-[100dvh] flex justify-center items-center">
        <!-- 登入介面 -->
        <div class="bg-white w-8/12 max-w-xl min-w-xs border border-slate-100">
            <!-- 標題 -->
            <h3 class="text-xl text-white bg-slate-800 text-center px-4 py-2">
                歡迎光臨，這是會員頁
            </h3>
            <div class="text-center py-8 flex flex-col justify-center items-center gap-4">
                恭喜您，成功登入系統
                <a href="/logout"
                    class="w-auto px-6 py-2 bg-slate-400 hover:bg-slate-600 transition-colors duration-300 text-white rounded-md inline-block text-center">登出系統</a>
            </div>
        </div>
    </main>
</body>

</html>